body {

  background-image: url("../images/music_notes.png");
  background-size: 100%;
  max-height: 100%;
  max-width: 100%;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  color: white;

}

/* style {

background-image: url("./images/music_notes.png");
max-height: 50%;
max-width: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} */
